services:
  decidim:
    image: ghcr.io/decidim/decidim:latest
    command: sh -c "sleep 5 && bundle exec rake db:migrate ; bundle exec rails s -b 0.0.0.0 -p 3000"
    ports:
      - 3000:3000
    volumes:
      - decidim-uploads:/code/public/uploads
      - decidim-storage:/code/storage
    environment:
      - RAILS_ENV=production
      - DATABASE_HOST=pg
      - DATABASE_USERNAME=decidim
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=decidim_production
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_LOG_TO_STDOUT=true
      - DISABLE_FORCE_SSL=true
    depends_on:
      - pg
      - redis
    restart: unless-stopped
  pg:
    image: postgres:16
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=decidim
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=decidim_production
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    restart: unless-stopped
  sidekiq:
    image: ghcr.io/decidim/decidim:latest
    command: bundle exec sidekiq
    volumes:
      - decidim-uploads:/code/public/uploads
      - decidim-storage:/code/storage
    environment:
      - RAILS_ENV=production
      - DATABASE_HOST=pg
      - DATABASE_USERNAME=decidim
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=decidim_production
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - REDIS_URL=redis://redis:6379/0
      - DISABLE_FORCE_SSL=true
    depends_on:
      - pg
      - redis
    restart: unless-stopped
volumes:
  pg-data:
  redis-data:
  decidim-uploads:
  decidim-storage:
